body { /*oi */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://i.pinimg.com/originals/da/61/c2/da61c21e29f9f46ccba5c63cc02eaca8.jpg");
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #481d50;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #592ebb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #482088;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.links button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5a41c9;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.links button:hover {
    background-color: #342589;
}
